<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/pokestyle.css">
    <title>{{pokemon}}</title>
</head>
<body>
    <h1>{{pokemon}}</h1>

    <div id="container">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../static/javascript/poke.js"></script>
</body>
</html>